
<form>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Search" [(ngModel)]="searchValue" (ngModelChange)="handleFieldChange($event)"
      name="searcher">
  </mat-form-field>
  <mat-form-field>
      <mat-label>Genre</mat-label>
      <mat-select [(ngModel)]="selectedGenreType" (ngModelChange)="handleFieldChange($event)" name="selectedGenre">
        <mat-option *ngFor="let type of genreTypes" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
</form>

<mat-card *ngFor="let movie of filteredMoviesList" [routerLink]="['/movie', movie.id]">
  <mat-card-header>
    <mat-card-title>{{movie.name}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="./../../assets/images/movie-covers/{{movie.img}}" alt="#">
</mat-card>